.NotFound__error {
    text-align: center;
    padding: 10px;
}

.NotFound__error h1 {
    display: inline-flex;
    margin: 5px;
    font-size: 27pt;
    font-weight: bolder;
}

.NotFound__error p {
    font-size: 15pt;
    font-weight: bolder;
}