.Resetting__main{
    width: 100%;
    height: 100vh;
    background: url('../../../assets/images/1.png') repeat-y 8px top, url('../../../assets/images/1.png') repeat-y right 8px top;
}

.Resetting__form{
    padding-top: 15%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Resetting__alertError{
    padding: 14px;
    background: #ef3333;
    color: white;
    margin: 10px;
    border-radius: 11px;
}


.Resetting__mainLogo{
    width: 90px;
    fill: #ffffff;
    margin-bottom: 5rem;
}

.Resetting__button{
    width: 250px;
    background: #ffffff;
    font-size: 1.2rem;
    color: #017bb9;
    height: 2.6rem;
    border-radius: 1.6rem;
    padding: 0;
    border: 0;
    margin-top: 10px;
}
.Resetting__button:hover {
    border: 1px solid goldenrod;
    box-shadow: 0 0 5px gold;
}
