.MenuSmall__container {
    position: fixed;
    background: white;
    padding-top: 20px;
    width: 80px;
    height: 100vh;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 0 45px #777777;
}
.MenuSmall__logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.MenuSmall__logo {
    width: 60px;
    fill: #017bb9;
    margin-bottom: 50px;
}
.MenuSmall__Font-Icon_container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}
.MenuSmall__Font-Icon {
    color: #017bb9;
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
}