.SelectLabel__form-field {
    position: relative;
    height: 50px;
}
.SelectLabel__form-field select {
    background-color: transparent;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 250px;
    color: #fff;
    -webkit-appearance: none
}
.SelectLabel__form-field label {
    position: absolute;
    left: 8px;
    top: 8px;
    transition: all 0.3s ease;
    z-index: -2;
    font-size: 16px;
    color: #fff;
}

.SelectLabel__form-field select:hover {
    border: 1px solid silver;
    box-shadow: 0 0 5px silver;
}
.SelectLabel__form-field select:focus + label, select:not(:checked) ~ label {
    top: -6px;
    left: 6px;
    font-size: 12px;
    background-color: #017bb9;
    z-index: 1;
}